@keyframes moveInBtn {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fromRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

  

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "font-family: 'AponaLohit', sans-serif";
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.primary__heading {
  color: white;
  text-transform: uppercase;
  margin-bottom: 4rem;
  backface-visibility: hidden; }

.heading__primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation: fromRight 1s; }

.heading__primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.74rem;
  animation: fromLeft 1s; }

.heading__Taxt {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  text-shadow: -3px 1px 5px #00000021;
  text-align: center; }

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #3adff5, #0fa8bd);
  -webkit-background-clip: text;
  display: inline-block;
  color: transparent;
  transition: all .3s;
  text-shadow: -.01rem 0rem .4rem #0000002b; }
  .heading-secondary:hover {
    transform: scale(1.01);
    text-shadow: 0.05rem 0rem 1rem rgba(0, 0, 0, 0.233);
    transform: scale(1.07);
    letter-spacing: 3px; }

.header-tertiary {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.margin-bottom-small {
  margin-bottom: 2rem !important; }

.margin-bottom-medium {
  margin-bottom: 4rem !important; }

.margin-bottom-big {
  margin-bottom: 8rem !important; }

.margin-top-big {
  margin-top: 8rem !important; }

.padding-top-big {
  padding-top: 8rem !important; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem;
  margin-top: -20vh; }

.section-features {
  padding: 20rem;
  background: linear-gradient(to right bottom, rgba(58, 223, 245, 0.65), rgba(15, 168, 189, 0.65)), url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-10deg);
  margin-top: -16rem; }
  .section-features > * {
    transform: skewY(10deg); }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -16rem; }

.section-stories {
  padding: 15rem 0;
  position: relative; }

.section-book {
  padding: 10rem 0;
  background-image: linear-gradient(to right bottom, #3adff5, #0fa8bd); }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg);
  background-size: 100%;
  height: 50rem;
  border-radius: 3px;
  box-shadow: 0rem 1.5rem 4rem rgba(0, 0, 0, 0.35); }
  .book-form {
    width: 50%;
    padding: 6rem; }

.btn__white {
  color: #777;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  display: inline-block;
  transition: all .2s;
  position: relative;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); }

.btn-blue {
  color: #fff;
  background-color: #3e6efd;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); }
  .btn-blue::after {
    background-color: #3e6efd; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(1px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 10rem;
  transition: all .2s; }

.btn__white::after {
  background-color: white; }

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0%; }

.btn__animated {
  animation: moveInBtn .4s ease-out;
  animation-delay: .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem;
  font-size: 1.6rem;
  color: #37c8db;
  display: inline-block;
  border-bottom: 1.3px solid #37c8db;
  transition: all .2s; }

.btn-text:hover {
  background-color: #37c8db;
  color: #777;
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.185);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.185);
  transform: translateY(-1px); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    border-radius: 2px;
    box-shadow: 0rem 1.5rem 4rem rgba(0, 0, 0, 0.404);
    position: absolute;
    z-index: 10;
    transition: .2s;
    outline-offset: 1rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: -1rem;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 13rem; }
    .composition__photo:hover {
      outline: 1.5rem solid #37c8db;
      transform: scale(1.1) translateY(-0.5rem);
      z-index: 20;
      box-shadow: 0rem 2.5rem 7rem rgba(0, 0, 0, 0.604); }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.158);
  transition: .3s; }
  .feature-box-icon {
    font-size: 7rem;
    background-image: linear-gradient(to right, #3adff5, #0fa8bd);
    -webkit-background-clip: text;
    display: inline-block;
    color: transparent; }
  .feature-box:hover {
    transform: scale(1.03) translateY(-1.5rem); }

.feature-heading {
  margin-top: 2.5rem; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem; }
  .card-side {
    font-size: 3rem;
    height: 52rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    overflow: hidden; }
    .card-side-back {
      transform: rotateY(180deg); }
      .card-side-back-1 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card-side-back-2 {
        background-image: linear-gradient(to right bottom, #2995ff, #5643fa); }
      .card-side-back-3 {
        background-image: linear-gradient(to right bottom, #3adff5, #0fa8bd); }
  .card:hover .card-side-front {
    transform: rotateY(-180deg); }
  .card:hover .card-side-back {
    transform: rotateY(0deg); }
  .card-picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card-picture-1 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/nat-5.jpg); }
    .card-picture-2 {
      background-image: linear-gradient(to right bottom, #2995ff, #5643fa), url(../img/nat-6.jpg); }
    .card-picture-3 {
      background-image: linear-gradient(to right bottom, #3adff5, #0fa8bd), url(../img/nat-7.jpg); }
  .card-heading {
    position: absolute;
    top: 13rem;
    right: 2rem;
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    width: 85%; }
  .card-heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card-heading-span-1 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
    .card-heading-span-2 {
      background-image: linear-gradient(to right bottom, #2995ff, #5643fa); }
    .card-heading-span-3 {
      background-image: linear-gradient(to right bottom, #3adff5, #0fa8bd); }
  .card-details {
    padding: 3rem; }
    .card-details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card-details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card-details ul li:not(:last-child) {
          border-bottom: 1px solid rgba(238, 238, 238, 0.815); }
  .card-cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card-price-box {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem; }
  .card-price-only {
    font-size: 2.4rem;
    text-transform: uppercase; }
  .card-price-value {
    font-size: 6rem;
    font-weight: 300; }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg);
  background-color: rgba(255, 255, 255, 0.5); }
  .story-shape {
    height: 15rem;
    width: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
    overflow: hidden; }
  .story-image {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    transition: all .5s;
    backface-visibility: hidden; }
  .story-text {
    transform: skewX(12deg); }
  .story-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    color: #fff;
    opacity: 0;
    transition: all .5s; }
  .story:hover .story-caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story-image {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .25; }
  .bg-video-contant {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.form-input {
  font-family: inherit;
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  color: inherit;
  transition: all .3s; }
  .form-input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #37c8db; }
  .form-input:focus:invalid {
    border-bottom: 3px solid rgba(255, 103, 32, 0.671); }
  .form-input::-webkit-input-placeholder {
    color: #a8a8a8; }

.form-radio-input {
  display: none; }

.form-label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form-group:not(:last-child) {
  margin-bottom: 2rem; }

.form-input:placeholder-shown + .form-label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form-group-radio {
  width: 49%;
  display: inline-block; }

.form-radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4rem; }

.form-radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #37c8db;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.5rem; }
  .form-radio-button::after {
    content: "";
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #37c8db;
    opacity: 0;
    transition: .2s; }

.form-radio-input:checked ~ .form-radio-label .form-radio-button::after {
  opacity: 1; }

.header {
  height: 90vh;
  background: linear-gradient(to right bottom, rgba(58, 223, 245, 0.65), rgba(15, 168, 189, 0.65)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
  position: relative; }

.logo__box {
  position: absolute;
  top: 5rem;
  left: 4rem; }

.logo {
  height: 4rem; }

.row {
  max-width: 1140px;
  margin: 0 auto; }

.row:not(:last-child) {
  margin-bottom: 50px; }

.row::after {
  content: "";
  display: table;
  clear: both; }

[class^="col-"] {
  float: left; }
  [class^="col-"]:not(:last-child) {
    margin-right: 8rem; }

.col-1-of-2 {
  width: calc((100% - 8rem)/2); }

.col-1-of-3 {
  width: calc((100% - 2 * 8rem) / 3); }

.col-1-of-4 {
  width: calc((100% - 3 * 8rem) / 4); }

.col-2-of-3 {
  width: calc(2*((100% - 2 * 8rem) / 3) + 8rem); }

.col-2-of-4 {
  width: calc(2 * ((100% - 3 * 8rem) / 4) + 8rem); }

.col-3-of-4 {
  width: calc(3 * ((100% - 3 * 8rem) / 4) + (8rem*2)); }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #f7f7f7; }
  .footer-logo-box {
    text-align: center;
    margin-bottom: 8rem; }
  .footer-logo {
    width: 15rem;
    height: auto; }
  .footer-navigation {
    border-top: 1px solid #5a5a5a;
    padding-top: 2rem;
    display: inline-block; }
  .footer-list {
    list-style: none; }
  .footer-link:link, .footer-link:visited {
    color: #f7f7f7;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2S;
    background-color: #333; }
  .footer-link:hover, .footer-link:active {
    color: #37c8db;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }
  .footer-item {
    display: inline-block; }
    .footer-item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer-copyright {
    border-top: 1px solid #5a5a5a;
    padding-top: 2rem;
    width: 80%;
    float: right; }
